.wallet-container {
  position: relative;
}

.wallet-container::before {
  content: '';
  background-image: url('/assets/visa.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4; /* Adjust the opacity as needed */
  pointer-events: none;
  z-index: -1;
}
